<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="ASPT.resource.aspt.mopp.AsptMetaInformation" id="ASPT.resource.aspt.mopp.AsptMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="ASPT.resource.aspt.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="ASPT.resource.aspt.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="ASPT.resource.aspt.problem">
		</super>
	</extension>
	
	<extension id="ASPT.resource.aspt.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="ASPT.resource.aspt.problem">
		</super>
	</extension>
	
	<extension id="ASPT.resource.aspt.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="ASPT.resource.aspt.problem">
		</super>
	</extension>
	
	<extension id="ASPT.resource.aspt.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="ASPT.resource.aspt.problem">
		</super>
	</extension>
	
	<extension id="ASPT.resource.aspt.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="ASPT.resource.aspt.problem">
		</super>
	</extension>
	
	<extension id="ASPT.resource.aspt.nature" name="aspt nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="ASPT.resource.aspt.mopp.AsptNature">
			</run>
		</runtime>
		<builder id="ASPT.resource.aspt.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="ASPT.resource.aspt.builder" name="aspt Builder">
		<builder hasNature="true">
			<run class="ASPT.resource.aspt.mopp.AsptBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="ASPT.resource.aspt.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="ASPT.resource.aspt.mopp.AsptResourceFactoryDelegator" type="aspt">
		</parser>
	</extension>
	
	<extension-point id="ASPT.resource.aspt.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
	<extension point="org.eclipse.debug.core.breakpoints">
		<breakpoint class="ASPT.resource.aspt.debug.AsptLineBreakpoint" id="ASPT.resource.aspt.debug.breakpoint" markerType="ASPT.resource.aspt.debug.lineBreakpoint.marker" name="aspt Breakpoint">
		</breakpoint>
	</extension>
	
	<extension id="ASPT.resource.aspt.debug.lineBreakpoint.marker" point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.debug.core.lineBreakpointMarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<persistent value="true">
		</persistent>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourcePathComputers">
		<sourcePathComputer class="ASPT.resource.aspt.debug.AsptSourcePathComputerDelegate" id="ASPT.resource.aspt.ui.sourcePathComputer">
		</sourcePathComputer>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourceLocators">
		<sourceLocator id="ASPT.resource.aspt.ui.sourceLocator" class="ASPT.resource.aspt.debug.AsptSourceLocator" name="aspt Source Locator">
		</sourceLocator>
	</extension>
	

</plugin>
