<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ASPM -->
      <package
            uri="http://jtl.univaq.it/aspm"
            class="ASPM.ASPMPackage"
            genModel="metamodel/ASPM.genmodel"/>
   </extension>

</plugin>
