<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="ASPMM.resource.aspmm.mopp.AspmmMetaInformation" id="ASPMM.resource.aspmm.mopp.AspmmMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="ASPMM.resource.aspmm.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="ASPMM.resource.aspmm.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="ASPMM.resource.aspmm.problem">
		</super>
	</extension>
	
	<extension id="ASPMM.resource.aspmm.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="ASPMM.resource.aspmm.problem">
		</super>
	</extension>
	
	<extension id="ASPMM.resource.aspmm.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="ASPMM.resource.aspmm.problem">
		</super>
	</extension>
	
	<extension id="ASPMM.resource.aspmm.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="ASPMM.resource.aspmm.problem">
		</super>
	</extension>
	
	<extension id="ASPMM.resource.aspmm.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="ASPMM.resource.aspmm.problem">
		</super>
	</extension>
	
	<extension id="ASPMM.resource.aspmm.nature" name="aspmm nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="ASPMM.resource.aspmm.mopp.AspmmNature">
			</run>
		</runtime>
		<builder id="ASPMM.resource.aspmm.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="ASPMM.resource.aspmm.builder" name="aspmm Builder">
		<builder hasNature="true">
			<run class="ASPMM.resource.aspmm.mopp.AspmmBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="ASPMM.resource.aspmm.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="ASPMM.resource.aspmm.mopp.AspmmResourceFactoryDelegator" type="aspmm">
		</parser>
	</extension>
	
	<extension-point id="ASPMM.resource.aspmm.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
	<extension point="org.eclipse.debug.core.breakpoints">
		<breakpoint class="ASPMM.resource.aspmm.debug.AspmmLineBreakpoint" id="ASPMM.resource.aspmm.debug.breakpoint" markerType="ASPMM.resource.aspmm.debug.lineBreakpoint.marker" name="aspmm Breakpoint">
		</breakpoint>
	</extension>
	
	<extension id="ASPMM.resource.aspmm.debug.lineBreakpoint.marker" point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.debug.core.lineBreakpointMarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<persistent value="true">
		</persistent>
	</extension>
	
	
	<extension point="org.eclipse.debug.core.sourcePathComputers">
		<sourcePathComputer class="ASPMM.resource.aspmm.debug.AspmmSourcePathComputerDelegate" id="ASPMM.resource.aspmm.ui.sourcePathComputer">
		</sourcePathComputer>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourceLocators">
		<sourceLocator id="ASPMM.resource.aspmm.ui.sourceLocator" class="ASPMM.resource.aspmm.debug.AspmmSourceLocator" name="aspmm Source Locator">
		</sourceLocator>
	</extension>
	
</plugin>
